
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

html,
body{
    background-color: rgb(142, 164, 203);
}


/*Header*/

header{
    padding: 10px;
    text-align: center;
    background-color: rgb(29, 29, 84);
    color: white;
    font-size: 20px;
    font-weight: 600;
}

main {
    margin: 20px auto;
    width: 600px;
    background-color: white !important;
    padding: 30px;
    text-align: center;
}

main>div>h1{
    font-size: 18px;
}

main>div>p{
    font-size: 14px;
}


/*form*/

.input-container{
    display: flex;
    justify-content: space-between;
}


.input-food{
    padding: 5px 10px;
    outline: none;
    width: 100%;
    margin-left: 10px;
}

.input-btn{
    padding: 6px 10px;
    background-color: rgb(74, 74, 165);
    border: none;
    border-radius: 5px;
    color: white;
    border-color: gray;
    
}

.food-container{
    margin: 20px 0;
    background-color: white;
    list-style: none;
    padding: 20px;
    text-align: left;
}

.food-container .food-item{
    padding: 5px;
    font-size: 14px;
    border: 1px solid gray;
    margin: 10px 0;
    color: gray;

}